@model CVOIS.Models.SuperAdmin.SuperAdminViewModel

@{
    Layout = null;
}

@if (Model.State_List != null && Model.State_List.Any())
{
    <div class="table-responsive table-wrapper">
        <table id="stateDataTable" class="table table-bordered table-striped custom-border w-100">
            <thead class="table-header">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.State.state_id)</th>
                    <th>@Html.DisplayNameFor(model => model.State.state_name)</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.State_List)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.state_id)</td>
                        <td>@Html.DisplayFor(modelItem => item.state_name)</td>
                        <td class="text-center">
                            <a asp-action="EditState" asp-route-id="@item.state_id" class="btn btn-sm btn-outline-primary me-1">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a href="javascript:void(0);"
                               class="btn btn-sm btn-outline-danger"
                               onclick="confirmDelete('@Url.Action("DeleteState", new { id = item.state_id})')">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-danger">No State records found.</div>
}


@* Data table *@
<script>
    $(document).ready(function () {
        $('#stateDataTable').DataTable({
            dom: "<'row '<'col-md-6'B><'col-md-6 text-end'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row mt-2'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Export to Excel',
                    className: 'btn btn-sm btn-outline-success me-2',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i> Export to PDF',
                    className: 'btn btn-sm btn-outline-danger me-2',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    className: 'btn btn-sm  btn-outline-primary',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                }
            ],
            paging: true,
            searching: true,
            ordering: true,
            responsive: true,
            scrollX: true,
            lengthChange: false,
            info: true,
            autoWidth: false,
            columnDefs: [
                { targets: -1, className: 'text-center' }
            ],
            language: {
                searchPlaceholder: "Search State...",
                search: "",
                zeroRecords: "No matching State found",
                info: "Showing _START_ to _END_ of _TOTAL_ entries",
                infoEmpty: "No entries available",
                paginate: {
                    previous: "<",
                    next: ">"
                }
            }
        });
    });
</script>
