@model CVOIS.Models.SuperAdmin.SuperAdminViewModel

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    // var username = Context.Session.GetString("Username");
}

<!-- Open Modal Org Button -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#organizationModal">
        <i class="fa fa-plus"></i> Add Organization
    </button>
    <h3>Organization List</h3>
    <div class="d-flex align-items-center gap-2 ms-auto">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="organizationModal" tabindex="-1" role="dialog" aria-labelledby="organizationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <form asp-action="Organization" asp-controller="SuperAdmin" method="post" id="organizationForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="organizationModalLabel">Add New Organization</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.MINCODE" class="control-label"></label>
                            <select id="Organization.MINCODE" name="Organization.MINCODE" class="form-control">
                                <option value="">-Select Ministry-</option>
                                @foreach (var obj in Model.Ministry_ddl_ListforOrg)
                                {
                                    <option value="@obj.Value">@obj.Text</option>
                                }
                            </select>
                            <span id="MINCODEError" class="text-danger"></span>
                        </div>

                        @* Added as on date 26_03_2025 *@
                        <div class="form-group col-md-4">

                            <label asp-for="Organization.DEPTCODE" class="control-label"></label>
                            <select asp-for="ddlDeptCode" class="form-control" asp-items="Model.Department_ddl_List_Basisofmincode">
                                <option value="">Select Department</option>
                            </select>
                            <span id="DEPTCODEError" class="text-danger"></span>

                        </div> 

                        <div class="form-group col-md-4">
                            <label asp-for="Organization.ORGNAME" class="control-label"></label>
                            <input asp-for="Organization.ORGNAME" class="form-control" id="ORGNAME" placeholder="Org Name" />
                            <span id="ORGNAMEError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.file_no" class="control-label"></label>
                            <input asp-for="Organization.file_no" class="form-control" id="file_no" placeholder="File" />
                            <span id="file_noError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.APPOINTING_AUTHORITY" class="control-label"></label>
                            <select asp-for="Organization.APPOINTING_AUTHORITY" class="form-control" id="APPOINTING_AUTHORITY">
                                <option value="">-- Select Appointing Auhtority--</option>
                                @foreach (var dept in Model.AppointingAuthority_ddl_List)
                                {
                                    <option value="@dept.Value">@dept.Text</option>
                                }
                            </select>
                            <span id="APPOINTING_AUTHORITYError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.org_level" class="control-label"></label>
                            <select asp-for="Organization.org_level" class="form-control" id="org_level">
                                <option value="">-- Select Level--</option>
                                @foreach (var dept in Model.OrgLevel_ddl_List)
                                {
                                    <option value="@dept.Value">@dept.Text</option>
                                }
                            </select>
                            <span id="org_levelError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.section" class="control-label"></label>
                            <input asp-for="Organization.section" class="form-control" id="section" placeholder="Section" />
                            <span id="sectionError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.org_status" class="control-label"></label>
                            <select asp-for="Organization.org_status" class="form-control" id="org_status">
                                <option value="">-- Select Status --</option>
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="INACTIVE">INACTIVE</option>
                            </select>
                            <span id="org_statusError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.org_country" class="control-label"></label>
                            <select asp-for="Organization.org_country" class="form-control" id="org_country">
                                <option value="">-- Select Country --</option>
                                <option value="INDIA">India</option>
                                <option value="Other">Other</option>
                            </select>
                            <span id="org_countryError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.org_address" class="control-label"></label>
                            <input asp-for="Organization.org_address" class="form-control" id="org_address" placeholder="Address" />
                            <span id="org_addressError" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Organization.org_state" class="control-label"></label>
                            <select asp-for="Organization.org_state" class="form-control" id="org_state">
                                <option value="">-- Select state --</option>
                                @foreach (var dept in Model.States_ddl_List)
                                {
                                    <option value="@dept.Value">@dept.Text</option>
                                }
                            </select>
                            <span id="org_stateError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.org_district" class="control-label"></label>
                            <select asp-for="ddldistrictCode" class="form-control" id="ddldistrictCode" asp-items="Model.District_ddl_List_Basisofstateid">
                                <option value="">Select District</option>
                            </select>
                            <span id="org_cityError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.pincode" class="control-label"></label>
                            <input asp-for="Organization.pincode" class="form-control" id="pincode" type="number" placeholder="Pincode" />
                            <span id="pincodeError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.phoneno" class="control-label"></label>
                            <input asp-for="Organization.phoneno" class="form-control" id="phoneno" type="number" maxlength="10" pattern="\d{10}" placeholder="Phone No." />
                            <span id="phonenoError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.fax" class="control-label"></label>
                            <input asp-for="Organization.fax" class="form-control" id="fax" placeholder="Fax" />
                            <span id="faxError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.org_category" class="control-label"></label>
                            <select asp-for="Organization.org_category" class="form-control" id="org_category" placeholder="Org. Catagory">
                                <option value="">-- Select --</option>
                                <option value="PT">Part Time</option>
                                <option value="FT">Full Time</option>
                            </select>
                            <span id="org_categoryError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Organization.EMAIL_ID" class="control-label"></label>
                            <input asp-for="Organization.EMAIL_ID" class="form-control" id="EMAIL_ID" type="email" placeholder="Email" />
                            <span id="emailError" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnSaveOrganization" class="btn btn-success" onclick="SaveOrganization()">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />

@if (Model.Organization_List != null && Model.Organization_List.Any())
{
    <div class="table-responsive table-wrapper">
        <table id="organizationDataTable" class="table table-bordered table-striped custom-border">
            <thead class="table-header">
                <tr>
                    <th class="text-center">Actions</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.row_num)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.ORG_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.Ministry_Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.DeptName)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.ORGNAME)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.org_address)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.pincode)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.phoneno)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.org_category)</th>
                    <th>@Html.DisplayNameFor(model => model.Organization.org_status)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Organization_List)
                {
                    <tr>
                        <td class="text-center">
                            <a asp-action="EditOrganization" asp-route-id="@item.ORG_ID" class="btn btn-sm btn-outline-primary me-1">
                                <i class="fas fa-edit"></i>Edit
                            </a>
                            <a href="javascript:void(0);"
                               class="btn btn-sm btn-outline-danger"
                               onclick="confirmDelete('@Url.Action("DeleteOrganization", new { id = item.ORG_ID })')">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </td>
                        <td>@item.row_num</td>
                        <td>@item.ORG_ID</td>
                        <td>@item.Ministry_Name</td>
                        <td>@item.DeptName</td>
                        <td>@item.ORGNAME</td>
                        <td>@item.org_address</td>
                        <td>@item.pincode</td>
                        <td>@item.phoneno</td>
                        <td>@item.org_category</td>
                        <td>@item.org_status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">No organizations found.</div>
}


@* Data table *@
<script>
    $(document).ready(function () {
        $('#organizationDataTable').DataTable({
            dom: "<'row mb-2'<'col-md-6'B><'col-md-6 text-end'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row mt-2'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Export to Excel',
                    className: 'btn btn-success me-2',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i> Export to PDF',
                    className: 'btn btn-danger me-2',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    className: 'btn btn-primary',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                }
            ],
            paging: true,
            searching: true,
            ordering: true,
            responsive: true,
            autoWidth: false,
            scrollX: true,
            lengthChange: false,
            info: true,
            columnDefs: [
                { targets: -1, className: 'text-center' }
            ],
            language: {
                searchPlaceholder: "Search organization...",
                search: "",
                zeroRecords: "No matching departments found",
                info: "Showing _START_ to _END_ of _TOTAL_ entries",
                infoEmpty: "No entries available",
                paginate: {
                    previous: "<",
                    next: ">"
                }
            }
        });
    });
</script>

@* Save Organization Data *@
<script>
    function SaveOrganization() {
        let Organization_MINCODE = document.getElementById("Organization.MINCODE").value.trim();
        let MINCODEError = document.getElementById("MINCODEError");
        let departmentDropdown = document.getElementById("ddlDeptCode").value.trim();
        let DEPTCODEError = document.getElementById("DEPTCODEError");
        let ORGNAME = document.getElementById("ORGNAME").value.trim();
        let ORGNAMEError = document.getElementById("ORGNAMEError");

        let file_no = document.getElementById("file_no").value.trim();
        let file_noError = document.getElementById("file_noError");
        let APPOINTING_AUTHORITY = document.getElementById("APPOINTING_AUTHORITY").value.trim();
        let APPOINTING_AUTHORITYError = document.getElementById("APPOINTING_AUTHORITYError");
        let org_level = document.getElementById("org_level").value.trim();
        let org_levelError = document.getElementById("org_levelError");

        let section = document.getElementById("section").value.trim();
        let sectionError = document.getElementById("sectionError");
        let org_status = document.getElementById("org_status").value.trim();
        let org_statusError = document.getElementById("org_statusError");
        let org_country = document.getElementById("org_country").value.trim();
        let org_countryError = document.getElementById("org_countryError");


        let org_address = document.getElementById("org_address").value.trim();
        let org_addressError = document.getElementById("org_addressError");
        let org_state = document.getElementById("org_state").value.trim();
        let org_stateError = document.getElementById("org_stateError");
        let org_city = document.getElementById("ddldistrictCode").value.trim();
        let org_cityError = document.getElementById("org_cityError");

        let pincode = document.getElementById("pincode").value.trim();
        let pincodeError = document.getElementById("pincodeError");
        let phoneno = document.getElementById("phoneno").value.trim();
        let phonenoError = document.getElementById("phonenoError");
        let fax = document.getElementById("fax").value.trim();
        let faxError = document.getElementById("faxError");

        let org_category = document.getElementById("org_category").value.trim();
        let org_categoryError = document.getElementById("org_categoryError");
        let email = document.getElementById("EMAIL_ID").value.trim();
        let emailError = document.getElementById("emailError");
        let isValid = true;


        $("#organizationForm input, #organizationForm select").each(function () {
            if ($(this).val().trim() === "") {
                isValid = false;
                return false;
            }
        });

        if (Organization_MINCODE === "") {
            MINCODEError.textContent = "Please enter a Ministry.";
            return false;
        } else {
            MINCODEError.textContent = "";
        }
        if (departmentDropdown === "") {
            DEPTCODEError.textContent = "Please enter a Department.";
            return false;
        } else {
            DEPTCODEError.textContent = "";
        }
        if (ORGNAME === "") {
            ORGNAMEError.textContent = "Please enter a Org name.";
            return false;
        } else {
            ORGNAMEError.textContent = "";
        }

        if (file_no === "") {
            file_noError.textContent = "Please enter a File.";
            return false;
        } else {
            file_noError.textContent = "";
        }
        if (APPOINTING_AUTHORITY === "") {
            APPOINTING_AUTHORITYError.textContent = "Please enter a Appointing Authority.";
            return false;
        } else {
            APPOINTING_AUTHORITYError.textContent = "";
        }
        if (org_level === "") {
            org_levelError.textContent = "Please enter a Level.";
            return false;
        } else {
            org_levelError.textContent = "";
        }

        if (section === "") {
            sectionError.textContent = "Please enter a Section.";
            return false;
        } else {
            sectionError.textContent = "";
        }
        if (org_status === "") {
            org_statusError.textContent = "Please enter a Status.";
            return false;
        } else {
            org_statusError.textContent = "";
        }
        if (org_country === "") {
            org_countryError.textContent = "Please enter a Coutnry.";
            return false;
        } else {
            org_countryError.textContent = "";
        }

        if (org_address === "") {
            org_addressError.textContent = "Please enter a Address.";
            return false;
        } else {
            org_addressError.textContent = "";
        }
        if (org_state === "") {
            org_stateError.textContent = "Please enter a State.";
            return false;
        } else {
            org_stateError.textContent = "";
        }
        if (org_city === "") {
            org_cityError.textContent = "Please enter a City.";
            return false;
        } else {
            org_cityError.textContent = "";
        }

        if (pincode === "") {
            pincodeError.textContent = "Please enter a Pincode.";
            return false;
        } else {
            pincodeError.textContent = "";
        }
        if (phoneno === "") {
            phonenoError.textContent = "Please enter a Phoneno.";
            return false;
        } else {
            phonenoError.textContent = "";
        }
        if (fax === "") {
            faxError.textContent = "Please enter a valid fax.";
            return false;
        } else {
            faxError.textContent = "";
        }

        if (org_category === "") {
            org_categoryError.textContent = "Please enter a Catogory.";
            return false;
        } else {
            org_categoryError.textContent = "";
        }

        const emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        if (!emailPattern.test(email)) {
            emailError.textContent = "Please enter a valid email address.";
            return;
        } else {
            emailError.textContent = "";
        }

        Swal.fire({
            title: "Do you want to save the record?",
            icon: "question",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Save",
            denyButtonText: `Don't save`
        }).then((result) => {
            if (result.isConfirmed) {

                $("#btnSaveOrganization").prop("disabled", true).text("Saving...");

                $.ajax({
                    type: 'POST',
                    url: '/SuperAdmin/Organization',
                    data: $("#organizationForm").serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: 'Organization added successfully.',
                                confirmButtonColor: '#3085d6'
                            }).then(() => {
                                $('#organizationModal').modal('hide');
                                $('#organizationForm')[0].reset();
                                location.reload();
                            });
                        }
                        else if (response.duplicate_Org_message) {
                            Swal.fire({
                                icon: 'warning',
                                title: response.duplicate_Org_message,
                                confirmButtonColor: '#d33'
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: response.error_Org_message,
                                confirmButtonColor: '#d33'
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops!',
                            text: 'Something went wrong. Please try again.',
                            confirmButtonColor: '#d33'
                        });
                    },
                    complete: function () {
                        $("#btnSaveOrganization").prop("disabled", false).text("Submit");
                    }
                });

            }
        });
    }
</script>

@* Delete Organization Data Confirmation *@
<script>
    function confirmDelete(deleteUrl) {
        Swal.fire({
            title: 'Are you sure?',
            text: "This action cannot be undone!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = deleteUrl;
            }
        });
    }
</script>

@* Delete Organization Data  *@
<script>
    $(document).ready(function () {
        var OrganizationsuccessMessage = '@TempData["Delete_Organization_Message"]';
        var OrganizationerrorMessage = '@TempData["Failed_Organization_Message"]';

        if (OrganizationsuccessMessage) {
            Swal.fire({
                title: "Deleted!",
                text: OrganizationsuccessMessage,
                icon: "success",
                confirmButtonText: "OK"
            });
        }

        if (OrganizationerrorMessage) {
            Swal.fire({
                title: "Error!",
                text: OrganizationerrorMessage,
                icon: "error",
                confirmButtonText: "OK"
            });
        }
    });
</script>

@* ministry and department cascading *@
<script>
    $(document).ready(function () {
        $("[name='Organization.MINCODE']").change(function () {

            var Mincode = $(this).val();
            $("#ddlDeptCode").empty().append('<option value="">-- Select Department --</option>');

            if (Mincode) {
                $.ajax({
                    url: "/SuperAdmin/BindDepartmentdropdown",
                    type: "GET",
                    data: { Mincode: Mincode },
                    dataType: "json",
                    success: function (data) {
                        // console.log("Response received:", data); // Debugging
                        if (data.length > 0) {
                            $.each(data, function (index, item) {
                                $("#ddlDeptCode").append(new Option(item.text, item.value));
                            });
                        } else {
                            console.log("No departments found.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });
            }
        });
    });
</script>

@* State and City cascading *@
<script>
    $(document).ready(function () {
        $("#org_state").change(function () {
            var stateid = $(this).val();

            $("#ddldistrictCode").empty().append('<option value="">-- Select District --</option>');

            if (stateid) {
                $.ajax({
                    url: "/SuperAdmin/GetDistrictsByState",
                    type: "GET",
                    data: { state_id: stateid },
                    dataType: "json",
                    success: function (data) {
                        if (data && data.length > 0) {
                            $.each(data, function (index, item) {
                                $("#ddldistrictCode").append(new Option(item.text, item.value));
                            });
                        } else {
                            console.log("No Districts found.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });
            }
        });
    });
</script>


