@model IEnumerable<CVOIS.Models.Viewers.CVO_Details_Model>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cvoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ministry_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ORGNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CHARGES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.org_level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TENURE_FROM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TENURE_TO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONE_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BATCH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.org_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVO_STATUS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cvoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ministry_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORGNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHARGES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.org_level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENURE_FROM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENURE_TO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONE_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BATCH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.org_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVO_STATUS)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
