@model IEnumerable<CVOIS.Models.Admin.Ministries>

@{
    ViewData["Title"] = "Ministries";
}

<h1>View Ministries</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Min_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ministry_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Min_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ministry_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Min_Status)
                </td>
            </tr>
        }
    </tbody>
</table>
